<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TRABAJO_CRUDF.Properties.Settings.Trabajo_CrudConnectionString"
            connectionString="Data Source=DESKTOP-HN3C64M\SQLEXPRESS;Initial Catalog=Trabajo_Crud;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="TRABAJO_CRUDF.Properties.Settings.Trabajo_CrudConnectionStringf"
            connectionString="Data Source=L301-18\SQLEXPRESS;Initial Catalog=Trabajo_Crud;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="TRABAJO_CRUDF.Properties.Settings.Trabajo_CrudConnectionStringclase"
            connectionString="Data Source=L301-19\SQLEXPRESS;Initial Catalog=Trabajo_Crud;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>